/* Style the header */
header {
  display: flex; /*make title go on the left*/
  align-items: center; /*center align text */
  
  padding: 20px; /*height of the total header */
  justify-content: space-around; /*space out title and links */
  background-color: #002b5c; /* darker blue than body */
  color: #e8e8e8; /* make the text white */
}

header nav ul {
  list-style: none; /*remove bullets */
  margin: 0; /* remove extra margin */
  padding: 0px; /*remove padding */
  display: flex; /*make the links go horizontal */
  gap: 16px;
}

header nav a {
  color: #e8e8e8; /* make the text white */
  text-decoration: none; /* Remove underline */
  padding: 8px; /* space out links a little */
}


/* Style the footer */
footer { /*footer bar*/
  position: fixed; /* along with bottom, make footer stick to the bottom */
  bottom: 0; /* make the footer stick to the bottom */
  width: 100%; /* make the footer go all the way across */
  height: 28px; /* height of footer */
  background-color: #002b5c; /* dark blue bar */
  display: flex; /* flexbox for aligning content */
  align-items: center; /* center text vertically */
  padding: 16px; /* give margin between edge and text */
} 

/* style the text inside the footer */
footer p { /*p text (author name) inside footer*/
  margin: 0; /* center text vertically */
  color: #e8e8e8; /* make the text white */
  font-size: 0.85rem; /* make the text a little smaller */
}
footer a { /* github link inside footer */
  color: #e8e8e8; /* make the text white */
  font-size: 0.85rem; /* make the text a little smaller */
  text-decoration: none; /* remove underline */
  margin-left: auto; /* push the link to the right */
}


body {
  display: flex; /* use flexbox to center content */
  flex-direction: column; /* stack boxes vertically */
  min-height: 700px; /* more specifically align content to be in the middle */
}

/* work with body to center the main content between header and footer */
main {
  flex: 1; /*align content to be in the middle */
  display: flex; /* use flexbox to center content */
  flex-direction: column; /* stack boxes vertically */
  justify-content: center; /* center content vertically */
  gap: 12px; /* space out input boxes and buttons */
  color: #f8f8f8; /* make the text white */
  padding: 64px; /* make the text farther away from the edges */
}

/* make a box behind paragraph text in main */
main p {
  background-color: rgb(98, 158, 255); /* color of the box */
  padding: 14px 18px; /* space between text and edge of box */
  border-radius: 10px; /* round the corners of the box */
  margin: 0 auto; /* make the box only as big as the text*/
  color: #000000; /* color of the text */
}